In [1]:
import pandas as pd
import numpy as np
import us
from pandas.api.types import is_numeric_dtype

In [2]:
data = pd.read_csv ("PERM_Disclosure_Data_FY2022.csv", encoding = 'unicode_escape', engine ='python')

In [3]:
print(data.columns)

Index(['CASE_NUMBER', 'CASE_STATUS', 'RECEIVED_DATE', 'DECISION_DATE',
       'REFILE', 'ORIG_FILE_DATE', 'PREVIOUS_SWA_CASE_NUMBER_STATE',
       'SCHD_A_SHEEPHERDER', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS_1',
       ...
       'FOREIGN_WORKER_ALT_OCC_EXP', 'FOREIGN_WORKER_EXP_WITH_EMPL',
       'FOREIGN_WORKER_EMPL_PAY_FOR_ED', 'FOREIGN_WORKER_CURR_EMPLOYED',
       'EMPLOYER_COMPLETED_APPLICATION', 'PREPARER_NAME', 'PREPARER_TITLE',
       'PREPARER_EMAIL', 'EMP_INFO_DECL_NAME', 'EMP_DECL_TITLE'],
      dtype='object', length=154)

In [4]:
df = data[['CASE_STATUS', 'EMPLOYER_NAME', 'EMPLOYER_STATE_PROVINCE', 'EMPLOYER_NUM_EMPLOYEES', 'NAICS_CODE','PW_SOC_TITLE','EMP_CONTACT_STATE_PROVINCE','PW_WAGE','MINIMUM_EDUCATION']]
df.replace('', np.nan, inplace=True)
df.replace(0, np.nan, inplace=True)
df.replace('none', np.nan, inplace=True)

C:\Users\iliac\AppData\Local\Temp\ipykernel_36120\2688722399.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('', np.nan, inplace=True)
C:\Users\iliac\AppData\Local\Temp\ipykernel_36120\2688722399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(0, np.nan, inplace=True)
C:\Users\iliac\AppData\Local\Temp\ipykernel_36120\2688722399.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('none', np.nan, inplace=True)

In [5]:
df = df.dropna(how='any',axis=0) 
df.rename(columns = {'EMPLOYER_STATE_PROVINCE':'EMPLOYER_STATE','NAICS_CODE':'NAICS','PW_SOC_TITLE':'OCCUPATION','EMP_CONTACT_CITY':'EMP_CITY','EMP_CONTACT_STATE_PROVINCE':'EMP_STATE','PW_WAGE':'WAGE','MINIMUM_EDUCATION':'EDUCATION'}, inplace = True)

In [6]:
tmp = df['CASE_STATUS']
tmp = pd.DataFrame(tmp);
tmp.rename(columns = {'CASE_STATUS': 'CASE_STATUS_NUMBER'}, inplace = True)
df = pd.concat([df, tmp], axis=1)

In [7]:
df

,CASE_STATUS,EMPLOYER_NAME,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION,CASE_STATUS_NUMBER
0,Certified-Expired,VIGO INDUSTRIES,NEW YORK,46.0,33999,Marketing Managers,NEW YORK,"$153,296.00",Master's,Certified-Expired
1,Certified-Expired,VESUVIUS USA CORPORATION,ILLINOIS,11000.0,33999,Marketing Managers,PENNSYLVANIA,"$87,027.00",Bachelor's,Certified-Expired
2,Certified-Expired,Kikkerland Design Inc,NEW YORK,50.0,424990,Director of Sales,NEW YORK,"$152,901.00",Master's,Certified-Expired
3,Certified-Expired,yalai inc,MASSACHUSETTS,20.0,31181,Administrative Services Managers,MASSACHUSETTS,"$95,285.00",Master's,Certified-Expired
4,Certified-Expired,VIACOMCBS INC.,CALIFORNIA,23990.0,515120,Computer and Information Systems Managers,NEW YORK,"$232,024.00",Bachelor's,Certified-Expired
...,...,...,...,...,...,...,...,...,...,...
104594,Denied,"Groendyke Transport, Inc.",OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None,Denied
104595,Denied,"Groendyke Transport, Inc.",OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None,Denied
104596,Denied,"Groendyke Transport, Inc.",OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None,Denied
104597,Denied,"Groendyke Transport, Inc.",OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None,Denied
104598,Denied,Veriha Trucking Inc.,WISCONSIN,293.0,484121,Heavy and TractorTrailer Truck Drivers,WISCONSIN,"$48,526.00",None,Denied

In [8]:
neworder = ['EMPLOYER_NAME','CASE_STATUS','CASE_STATUS_NUMBER','EMPLOYER_STATE','EMPLOYER_NUM_EMPLOYEES','NAICS','OCCUPATION','EMP_STATE','WAGE','EDUCATION']
df=df.reindex(columns=neworder)

In [9]:
df

,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,VIGO INDUSTRIES,Certified-Expired,Certified-Expired,NEW YORK,46.0,33999,Marketing Managers,NEW YORK,"$153,296.00",Master's
1,VESUVIUS USA CORPORATION,Certified-Expired,Certified-Expired,ILLINOIS,11000.0,33999,Marketing Managers,PENNSYLVANIA,"$87,027.00",Bachelor's
2,Kikkerland Design Inc,Certified-Expired,Certified-Expired,NEW YORK,50.0,424990,Director of Sales,NEW YORK,"$152,901.00",Master's
3,yalai inc,Certified-Expired,Certified-Expired,MASSACHUSETTS,20.0,31181,Administrative Services Managers,MASSACHUSETTS,"$95,285.00",Master's
4,VIACOMCBS INC.,Certified-Expired,Certified-Expired,CALIFORNIA,23990.0,515120,Computer and Information Systems Managers,NEW YORK,"$232,024.00",Bachelor's
...,...,...,...,...,...,...,...,...,...,...
104594,"Groendyke Transport, Inc.",Denied,Denied,OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None
104595,"Groendyke Transport, Inc.",Denied,Denied,OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None
104596,"Groendyke Transport, Inc.",Denied,Denied,OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None
104597,"Groendyke Transport, Inc.",Denied,Denied,OKLAHOMA,1280.0,484230,Heavy and TractorTrailer Truck Drivers,OKLAHOMA,"$47,528.00",None
104598,Veriha Trucking Inc.,Denied,Denied,WISCONSIN,293.0,484121,Heavy and TractorTrailer Truck Drivers,WISCONSIN,"$48,526.00",None

In [10]:
Case_status_Number = {"Withdrawn": 0, "Denied": -1, "Certified-Expired":1, "Certified":1}
def ChangeCaseStatusNumber (x, Case_status_Number):
    return Case_status_Number.get(x)
df['CASE_STATUS_NUMBER'] = df['CASE_STATUS_NUMBER'].apply(lambda x : ChangeCaseStatusNumber(x, Case_status_Number))
df['CASE_STATUS'] = df['CASE_STATUS'].replace({'Certified-Expired':'Certified'}, regex = True)

In [11]:
def ChangeState (x):
    state = us.states.lookup(x)
    return state
df['EMP_STATE'] = df['EMP_STATE'].apply(lambda x : ChangeState(x))
df['EMPLOYER_STATE'] = df['EMPLOYER_STATE'].apply(lambda x : ChangeState(x))

In [12]:
df['WAGE'] = df['WAGE'].replace({'\$':''}, regex = True)
df['WAGE'] = df['WAGE'].replace({',':''}, regex = True)
df['WAGE'] = df['WAGE'].replace({'#############':'0'}, regex = True)
#############

In [13]:
colnames = ['CASE_STATUS_NUMBER','EMPLOYER_NUM_EMPLOYEES','NAICS','WAGE']
for col_name in colnames:
        if not is_numeric_dtype(df[col_name]):
            #df[col_name]= df[col_name].astype(float)
            df[col_name]= df[col_name].apply(lambda x: x.replace("-", "")).astype(float)

In [14]:
def WageChange (x):
    if x < 40000:
        return np.NaN
    else:
        return x
df['WAGE'] = df['WAGE'].apply(lambda x : WageChange(x))

In [15]:
df

,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,VIGO INDUSTRIES,Certified,1,New York,46.0,33999.0,Marketing Managers,New York,153296.0,Master's
1,VESUVIUS USA CORPORATION,Certified,1,Illinois,11000.0,33999.0,Marketing Managers,Pennsylvania,87027.0,Bachelor's
2,Kikkerland Design Inc,Certified,1,New York,50.0,424990.0,Director of Sales,New York,152901.0,Master's
3,yalai inc,Certified,1,Massachusetts,20.0,31181.0,Administrative Services Managers,Massachusetts,95285.0,Master's
4,VIACOMCBS INC.,Certified,1,California,23990.0,515120.0,Computer and Information Systems Managers,New York,232024.0,Bachelor's
...,...,...,...,...,...,...,...,...,...,...
104594,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,484230.0,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104595,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,484230.0,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104596,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,484230.0,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104597,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,484230.0,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104598,Veriha Trucking Inc.,Denied,-1,Wisconsin,293.0,484121.0,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526.0,None

In [16]:
NAICS_CODE_2022 = {
    11: "Agriculture, Forestry, Fishing, and Hunting",
    21: "Mining, Quarrying, and Oil and Gas Extraction",
    22: "Utilities", 
    23: "Construction",
    31: "Manufacturing", 
    32: "Manufacturing", 
    33: "Manufacturing",
    42: "Wholesale Trade", 
    44: "Retail Trade", 
    45: "Retail Trade",
    48: "Transportation and Warehousing", 
    49: "Transportation and Warehousing",
    51: "Information", 
    52: "Finance and Insurance",
    53: "Real Estate and Rental and Leasing", 
    54: "Professional, Scientific, and Technical Services", 
    55: "Management of Companies and Enterprises",
    56: "Administrative and Support and Waste Management and Remediation Services", 
    61: "Educational Services", 
    62: "Health Care and Social Assistance", 
    71: "Arts, Entertainment, and Recreation", 
    72: "Accommodation and Food Services",
    81: "Other Services (except PA)", 
    92: "Public Administration(PA)",
    99: "Unknown"}

def ChangeNAICS (x,NAICS_CODE_2022):
    a_string = str(x)
    a_length = len(a_string)
    c = int(a_string[0: 2])
    ans  = NAICS_CODE_2022.get(c)
    if ans == None:
        return np.NaN
    return NAICS_CODE_2022.get(c)

df['NAICS'] = df['NAICS'].apply(lambda x : ChangeNAICS(x,NAICS_CODE_2022))

In [17]:
df

,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,VIGO INDUSTRIES,Certified,1,New York,46.0,Manufacturing,Marketing Managers,New York,153296.0,Master's
1,VESUVIUS USA CORPORATION,Certified,1,Illinois,11000.0,Manufacturing,Marketing Managers,Pennsylvania,87027.0,Bachelor's
2,Kikkerland Design Inc,Certified,1,New York,50.0,Wholesale Trade,Director of Sales,New York,152901.0,Master's
3,yalai inc,Certified,1,Massachusetts,20.0,Manufacturing,Administrative Services Managers,Massachusetts,95285.0,Master's
4,VIACOMCBS INC.,Certified,1,California,23990.0,Information,Computer and Information Systems Managers,New York,232024.0,Bachelor's
...,...,...,...,...,...,...,...,...,...,...
104594,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104595,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104596,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104597,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104598,Veriha Trucking Inc.,Denied,-1,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526.0,None

In [18]:
keywords = ['Amazon', 'Walmart', 'Qualcomm' ,'Microsoft','Google','Intel','Tata Consultancy','NVIDIA','Oracle','Adobe','Apple','Twitter','Facebook']
def ChangeEmployerName (x):
    for keyword in keywords:
        if keyword.lower() in x.lower():
            return keyword
    return x

df['EMPLOYER_NAME'] = df['EMPLOYER_NAME'].apply(lambda x : ChangeEmployerName(x))

In [19]:
keywords_edu = ['Master', 'Bachelor']
def ChangeEducation (x,keywords_edu):
    for keyword in keywords_edu:
        if keyword.lower() in x.lower():
            return keyword
    return x

df['EDUCATION'] = df['EDUCATION'].apply(lambda x : ChangeEducation(x,keywords_edu))

In [20]:
df = df.dropna(how='any',axis=0) 
df

,EMPLOYER_NAME,CASE_STATUS,CASE_STATUS_NUMBER,EMPLOYER_STATE,EMPLOYER_NUM_EMPLOYEES,NAICS,OCCUPATION,EMP_STATE,WAGE,EDUCATION
0,VIGO INDUSTRIES,Certified,1,New York,46.0,Manufacturing,Marketing Managers,New York,153296.0,Master
1,VESUVIUS USA CORPORATION,Certified,1,Illinois,11000.0,Manufacturing,Marketing Managers,Pennsylvania,87027.0,Bachelor
2,Kikkerland Design Inc,Certified,1,New York,50.0,Wholesale Trade,Director of Sales,New York,152901.0,Master
3,yalai inc,Certified,1,Massachusetts,20.0,Manufacturing,Administrative Services Managers,Massachusetts,95285.0,Master
4,VIACOMCBS INC.,Certified,1,California,23990.0,Information,Computer and Information Systems Managers,New York,232024.0,Bachelor
...,...,...,...,...,...,...,...,...,...,...
104594,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104595,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104596,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104597,"Groendyke Transport, Inc.",Denied,-1,Oklahoma,1280.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Oklahoma,47528.0,None
104598,Veriha Trucking Inc.,Denied,-1,Wisconsin,293.0,Transportation and Warehousing,Heavy and TractorTrailer Truck Drivers,Wisconsin,48526.0,None

In [21]:
df.to_csv('PERM2022CLEAN.csv', index = False)